USE [master]
GO
/****** Object:  Database [SCWDb]    Script Date: 10.04.2021 17:12:44 ******/
CREATE DATABASE [SCWDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SCWDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SCWDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SCWDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SCWDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SCWDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SCWDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Faculties] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacultyLectuer]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacultyLectuer](
	[FacultiesID] [int] NOT NULL,
	[LectuersId] [int] NOT NULL,
 CONSTRAINT [PK_FacultyLectuer] PRIMARY KEY CLUSTERED 
(
	[FacultiesID] ASC,
	[LectuersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FacultyId] [int] NOT NULL,
 CONSTRAINT [PK_Fields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectuers]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectuers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Surname] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Degree] [nvarchar](15) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Lectuers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LectuerSubject]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LectuerSubject](
	[LectuersId] [int] NOT NULL,
	[SubjectsId] [int] NOT NULL,
 CONSTRAINT [PK_LectuerSubject] PRIMARY KEY CLUSTERED 
(
	[LectuersId] ASC,
	[SubjectsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[SubjectId] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpinionsLectuers]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpinionsLectuers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LectuerId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Grade] [int] NOT NULL,
 CONSTRAINT [PK_OpinionsLectuers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpinionsTutors]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpinionsTutors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TutorId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Grade] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_OpinionsTutors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FieldOfStudyId] [int] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectTutor]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectTutor](
	[SubjectsId] [int] NOT NULL,
	[TurorsId] [int] NOT NULL,
 CONSTRAINT [PK_SubjectTutor] PRIMARY KEY CLUSTERED 
(
	[SubjectsId] ASC,
	[TurorsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutors]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[PriceForHour] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
	[UserId1] [int] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tutors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.04.2021 17:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[FacultyId] [int] NOT NULL,
	[FieldId] [int] NOT NULL,
	[IsTutor] [bit] NOT NULL,
	[TutorId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FacultyLectuer_LectuersId]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_FacultyLectuer_LectuersId] ON [dbo].[FacultyLectuer]
(
	[LectuersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fields_FacultyId]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Fields_FacultyId] ON [dbo].[Fields]
(
	[FacultyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LectuerSubject_SubjectsId]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_LectuerSubject_SubjectsId] ON [dbo].[LectuerSubject]
(
	[SubjectsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Materials_SubjectId]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Materials_SubjectId] ON [dbo].[Materials]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OpinionsLectuers_LectuerId]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_OpinionsLectuers_LectuerId] ON [dbo].[OpinionsLectuers]
(
	[LectuerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OpinionsTutors_TutorId]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_OpinionsTutors_TutorId] ON [dbo].[OpinionsTutors]
(
	[TutorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subjects_FieldOfStudyId]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Subjects_FieldOfStudyId] ON [dbo].[Subjects]
(
	[FieldOfStudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectTutor_TurorsId]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_SubjectTutor_TurorsId] ON [dbo].[SubjectTutor]
(
	[TurorsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tutors_UserId1]    Script Date: 10.04.2021 17:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Tutors_UserId1] ON [dbo].[Tutors]
(
	[UserId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lectuers] ADD  DEFAULT (N'') FOR [Degree]
GO
ALTER TABLE [dbo].[FacultyLectuer]  WITH CHECK ADD  CONSTRAINT [FK_FacultyLectuer_Faculties_FacultiesID] FOREIGN KEY([FacultiesID])
REFERENCES [dbo].[Faculties] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacultyLectuer] CHECK CONSTRAINT [FK_FacultyLectuer_Faculties_FacultiesID]
GO
ALTER TABLE [dbo].[FacultyLectuer]  WITH CHECK ADD  CONSTRAINT [FK_FacultyLectuer_Lectuers_LectuersId] FOREIGN KEY([LectuersId])
REFERENCES [dbo].[Lectuers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacultyLectuer] CHECK CONSTRAINT [FK_FacultyLectuer_Lectuers_LectuersId]
GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD  CONSTRAINT [FK_Fields_Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fields] CHECK CONSTRAINT [FK_Fields_Faculties_FacultyId]
GO
ALTER TABLE [dbo].[LectuerSubject]  WITH CHECK ADD  CONSTRAINT [FK_LectuerSubject_Lectuers_LectuersId] FOREIGN KEY([LectuersId])
REFERENCES [dbo].[Lectuers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LectuerSubject] CHECK CONSTRAINT [FK_LectuerSubject_Lectuers_LectuersId]
GO
ALTER TABLE [dbo].[LectuerSubject]  WITH CHECK ADD  CONSTRAINT [FK_LectuerSubject_Subjects_SubjectsId] FOREIGN KEY([SubjectsId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LectuerSubject] CHECK CONSTRAINT [FK_LectuerSubject_Subjects_SubjectsId]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[OpinionsLectuers]  WITH CHECK ADD  CONSTRAINT [FK_OpinionsLectuers_Lectuers_LectuerId] FOREIGN KEY([LectuerId])
REFERENCES [dbo].[Lectuers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OpinionsLectuers] CHECK CONSTRAINT [FK_OpinionsLectuers_Lectuers_LectuerId]
GO
ALTER TABLE [dbo].[OpinionsTutors]  WITH CHECK ADD  CONSTRAINT [FK_OpinionsTutors_Tutors_TutorId] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Tutors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OpinionsTutors] CHECK CONSTRAINT [FK_OpinionsTutors_Tutors_TutorId]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Fields_FieldOfStudyId] FOREIGN KEY([FieldOfStudyId])
REFERENCES [dbo].[Fields] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Fields_FieldOfStudyId]
GO
ALTER TABLE [dbo].[SubjectTutor]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTutor_Subjects_SubjectsId] FOREIGN KEY([SubjectsId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectTutor] CHECK CONSTRAINT [FK_SubjectTutor_Subjects_SubjectsId]
GO
ALTER TABLE [dbo].[SubjectTutor]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTutor_Tutors_TurorsId] FOREIGN KEY([TurorsId])
REFERENCES [dbo].[Tutors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectTutor] CHECK CONSTRAINT [FK_SubjectTutor_Tutors_TurorsId]
GO
ALTER TABLE [dbo].[Tutors]  WITH CHECK ADD  CONSTRAINT [FK_Tutors_Users_UserId1] FOREIGN KEY([UserId1])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tutors] CHECK CONSTRAINT [FK_Tutors_Users_UserId1]
GO
USE [master]
GO
