<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum wiedzy SGGW</title>
    <link rel="stylesheet" href="~/css/SGGW_FORUM/style.css">
</head>
<body>

    <div id="opinie">

        <div id="op_header">
            <div id="op_title">INFORMACJE</div>
            <label id="op_close" onclick="op_zamknij()">X</label>
        </div>
        <div id="op_all">
            <div id="op_content">

                <div class="korepetytor">
                    <h1>DANE</h1>
                    <hr>
                    <div class="kor_prof">
                        <img src="~/css/SGGW_FORUM/images/profile/profile13.png">
                    </div>
                    <div class="kor_opis">
                        <div class="kor_imie">
                            ANDRZEJ
                            <div class="kor_ocena">4.5/5</div>

                        </div>
                        <div class="specjalnosc"><div class="icon"></div><div class="spec_content">Informatyka</div></div>
                        <div class="kor_kontakt"><div class="icon"></div><div class="spec_content">sampleANDRZEJ@mail.com</div></div>
                        <div class="cena">40-60zł/h</div>
                        <hr>
                        <div class="Kor_o_sobie">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        </div>
                    </div>
                </div>
                <div class="op_dodaj">

                    <h1>DODAJ OPINIĘ</h1>
                    <hr>

                    <form id="opinia">

                        <span class="Ocena">
                            <input id="demo-1" type="radio" name="demo" value="1">
                            <label for="demo-1">1 star</label>
                            <input id="demo-2" type="radio" name="demo" value="2">
                            <label for="demo-2">2 stars</label>
                            <input id="demo-3" type="radio" name="demo" value="3">
                            <label for="demo-3">3 stars</label>
                            <input id="demo-4" type="radio" name="demo" value="4">
                            <label for="demo-4">4 stars</label>
                            <input id="demo-5" type="radio" name="demo" value="5">
                            <label for="demo-5">5 stars</label>

                            <div class="stars">
                                <label for="demo-1" aria-label="1 gwiazdka" title="1/5"></label>
                                <label for="demo-2" aria-label="2 gwiazdki" title="2/5"></label>
                                <label for="demo-3" aria-label="3 gwiazdki" title="3/5"></label>
                                <label for="demo-4" aria-label="4 gwiazdki" title="4/5"></label>
                                <label for="demo-5" aria-label="5 gwiazdek" title="5/5"></label>
                            </div>
                        </span>
                        <textarea rows="4" name="opinia" form="usrform" placeholder="Twoja opinia..." style="width:100%;"></textarea>
                        <br><br><input type="text" name="imie" required placeholder="Imię"><br>
                        <button type="submit" class="kor_opinie_btn">WYŚLIJ</button>

                    </form>
                </div>
                <div id="opinie_innych">
                    <h1>OPINIE INNYCH</h1>
                    <hr>

                    <div class="op_opinia">
                        <div class="kor_ocena">4.5/5</div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        <br><div class="op_podpis">Andrzej</div>
                    </div>

                    <div class="op_opinia">
                        <div class="kor_ocena">4.5/5</div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        <br><div class="op_podpis">Andrzej</div>
                    </div>

                    <div class="op_opinia">
                        <div class="kor_ocena">4.5/5</div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        <br><div class="op_podpis">Andrzej</div>
                    </div>

                    <div class="op_opinia">
                        <div class="kor_ocena">4.5/5</div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        <br><div class="op_podpis">Andrzej</div>
                    </div>

                    <div class="op_opinia">
                        <div class="kor_ocena">4.5/5</div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        <br><div class="op_podpis">Andrzej</div>
                    </div>

                    <div class="op_opinia">
                        <div class="kor_ocena">4.5/5</div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                        <br><div class="op_podpis">Andrzej</div>
                    </div>


                </div>

            </div>

        </div>
    </div>

    <nav>
        <div class="logo">
            <h4>Forum SGGW</h4>
        </div>
        <ul class="nav-links">
            <li><a href="../mainstrona.cshtml">Start</a></li>
            <li><a href="profil.cshtml">Profil</a></li>
            <li><a href="../materialy.cshtml">Materiały</a></li>
            <li><a href="wykladowcy.cshtml">Wykładowcy</a></li>
            <li><a href="korepetytorzy.cshtml">Korepetycje</a></li>
            <li><a href="#">Wyloguj</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div id="strona">
        <div class="container mt-5" id="center">
            <div class="row">
                <div class="col-md-4 col-lg-3 mx-3 mx-md-0 my-4 p-4 p-md-2" id="lewy">
                    <div class="naglowek">FILTRY</div>

                    <div class="filtry">

                        <form asp-action="korepetytorzy" method="post">
                            <hr>
                            <h2>KIERUNEK</h2>
                            <div class="container-fluid">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-1">
                                        <input type="checkbox" class="checkmarks" id="1" name="kierunek" value="Informatyka">
                                    </div>
                                    <div class="col-10">
                                        <label for="1" class="lbl">Informatyka</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="container-fluid">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-1">
                                        <input type="checkbox" class="checkmarks" id="2" name="kierunek" value="Informatyka i ekonometria">
                                    </div>
                                    <div class="col-10">
                                        <label for="2" class="lbl"> Informatyka i ekonometria</label><br>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h2>PRZEDMIOT</h2>
                            <div class="wybor">
                                <div class="container-fluid">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-1">
                                            <input type="checkbox" class="checkmarks" id="3" name="przedmiot" value="Algebra Liniowa">
                                        </div>
                                        <div class="col-10">
                                            <label for="3" class="lbl">Algebra liniowa</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-1">
                                            <input type="checkbox" class="checkmarks" id="2" name="przedmiot" value="Analiza matematyczna">
                                        </div>
                                        <div class="col-10">
                                            <label for="2" class="lbl"> Analiza matematyczna</label><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-1">
                                            <input type="checkbox" class="checkmarks" id="1" name="przedmiot" value="Programowanie obiektowe">
                                        </div>
                                        <div class="col-10">
                                            <label for="1" class="lbl">Programowanie obiektowe</label><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-1">
                                            <input type="checkbox" class="checkmarks" id="4" name="przedmiot" value="Ekonomia">
                                        </div>
                                        <div class="col-10">
                                            <label for="4" class="lbl">Ekonomia</label><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="container-fluid">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-5">
                                        <h2>CENA</h2>
                                        <span class="cena_center">
                                            <input class="in_cena" type="text" id="od" placeholder="od"> -
                                            <input class="in_cena" type="text" id="do" placeholder="do">
                                        </span>
                                    </div>
                                    <div class="col-7">
                                        <button type="submit" class="przycisk_zaloguj">FILTRUJ</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8 mt-4" id="prawy">
                    <div class="korepetytor">
                        <div class="kor_prof">
                            <img src="images/profile/profile7.png">
                        </div>
                        <div class="kor_opis">
                            <div class="kor_imie">
                                ANDRZEJ
                                <div class="kor_ocena">4.5/5</div>
                            </div>
                            <div class="specjalnosc"><div class="icon"></div><div class="spec_content">Informatyka</div></div>
                            <div class="cena">40-60zł/h</div>
                            <hr>
                            <div class="Kor_o_sobie">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                            </div>
                            <button class="kor_opinie_btn" onclick="op_otworz()">WIĘCEJ...</button>
                        </div>
                    </div>

                    <div class="korepetytor">
                        <div class="kor_prof">
                            <img src="images/profile/profile2.png">
                        </div>
                        <div class="kor_opis">
                            <div class="kor_imie">
                                ANIA
                                <div class="kor_ocena">4/5</div>
                            </div>
                            <div class="specjalnosc"><div class="icon"></div><div class="spec_content">Informatyka, Algebra liniowa</div></div>
                            <div class="cena">50zł/h</div>
                            <hr>
                            <div class="Kor_o_sobie">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                            </div>
                            <button class="kor_opinie_btn" onclick="op_otworz()">WIĘCEJ...</button>
                        </div>
                    </div>

                    <div class="korepetytor">
                        <div class="kor_prof">
                            <img src="images/profile/profile12.png">
                        </div>
                        <div class="kor_opis">
                            <div class="kor_imie">
                                ANDRZEJ
                                <div class="kor_ocena">4.5/5</div>
                            </div>
                            <div class="specjalnosc"><div class="icon"></div><div class="spec_content">Informatyka</div></div>
                            <div class="cena">40-60zł/h</div>
                            <hr>
                            <div class="Kor_o_sobie">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                            </div>
                            <button class="kor_opinie_btn" onclick="op_otworz()">WIĘCEJ...</button>
                        </div>
                    </div>

                    <div class="korepetytor">
                        <div class="kor_prof">
                            <img src="images/profile/profile4.png">
                        </div>
                        <div class="kor_opis">
                            <div class="kor_imie">
                                ANIA
                                <div class="kor_ocena">4/5</div>
                            </div>
                            <div class="specjalnosc"><div class="icon"></div><div class="spec_content">Informatyka, Algebra liniowa</div></div>
                            <div class="cena">50zł/h</div>
                            <hr>
                            <div class="Kor_o_sobie">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat in mauris sed pharetra. Curabitur semper eleifend sollicitudin. Suspendisse ac ex ipsum.
                            </div>
                            <button class="kor_opinie_btn" onclick="op_otworz()">WIĘCEJ...</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer id="main-footer" class="py-1 text-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6 m-auto">
                        <p class=" no-margins">Copyright &copy; 2021 SGGW</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="script.js"></script>
    <script>
        function navSlide() {
        const burger = document.querySelector(".burger");
        const nav = document.querySelector(".nav-links");
        const navLinks = document.querySelectorAll(".nav-links li");

        burger.addEventListener("click", () => {
        //Toggle Nav
        nav.classList.toggle("nav-active");

        //Animate Links
        navLinks.forEach((link, index) => {
            if (link.style.animation) {
                link.style.animation = ""
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
            }
        });
        //Burger Animation
        burger.classList.toggle("toggle");
    });

    }

    navSlide();


    </script>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>