
* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
}

html {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#strona {
    width: 100%;
    height: 100%;
    position: absolute;
}

#log-in {
    box-shadow: 0 0 20px 9px black;
    font-family: sans-serif;
    width: 380px;
    height: 450px;
    position: relative;
    background-color: white;
    display: block;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    transition: .6s;
    opacity: 0;
    transition: opacity 1s;
}

    #log-in .lbl {
        margin-bottom: 10px;
        display: inline-block;
    }

    #log-in button {
        font-weight: 800;
        color: #404040;
    }

#przyciski {
    width: 240px;
    margin: 40px auto;
    box-shadow: 0 0 20px 9px #a8e063;
    border-radius: 30px;
    position: relative;
}

.switch {
    width: 117px;
    padding: 10px 0px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}

#tlo {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(to right, #56ab2f, #a8e063 );
    transition: 0.3s;
}

.formularz {
    top: 150px;
    position: absolute;
    width: 300px;
    transition: .5s;
    background-color: white;
}

.pole_tekstowe {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    background: transparent;
}

#rejestracja select {
    width: 100%;
    padding: 10px 0;
    margin: 20px 0;
    border-bottom: 1px solid gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    color: #404040;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

    #rejestracja select:hover {
        border: 0px;
        outline: 0px;
        outline: none;
        text-decoration: none;
    }

    #rejestracja select:focus {
        outline: 0;
        border: 0;
        outline: none;
        text-decoration: none;
    }

.przycisk_zaloguj {
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-weight: 800; /*zmiana z 790 na 800*/
    color: white;
    background: linear-gradient(to right, #56ab2f, #a8e063 );
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: .2s;
}

#logowanie {
    left: 50px;
}

#rejestracja {
    left: 450px;
}

#menu {
    width: 78vw;
    margin-left: 10vw;
    padding: 0px;
    height: 100%;
}
/* KOREPETYCJE */
/* #center
{
    top:75px;
    border:0;
    width:80vw;
    margin-left: 9vw;
    padding:0px;
    position: absolute;
} */
#lewy {
    max-height: 618px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;
}
/* #prawy
{
    position: relative;
    right: 0;
    width: 69%;
    margin:1vw;
    float: right;
} */

/*
 

                NAVBAR XDDDDDDDDDDDDD 
 
 
 */
/* #navbar
{
    height:75px;
    background-color: rgba(255,255,255,0.9);
    width:100%;
    position: fixed;
    z-index: 1;
    transition: .5s;
    top:0px;
    
    
} */


/* #navbar_check
{
    height:150px;
    width:100%;
    position: fixed;
    z-index: 2;
    top:0px;
    
} */

/* #navbar:hover
{
    opacity: .8;
} */


/* #navbar{
    height:80px;
    background: rgba(255,255,255,0.9);
    width:100%;
    position: fixed;
    z-index: 3;
    transition: .5s; 
    top:0px;
    box-sizing: border-box;
}

label.logo{
    color:#56ab2f;
    line-height: 80px;
    font-size: 35px;
    padding: 0 50px;
}
nav  ul{
    float: right;
    margin-right: 20px;
    display: flex;

}
nav  ul  li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #56ab2f;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;

}
nav ul li a:hover{
    background:rgba(188, 241, 158,0.5);
    transition: .5s;
}
nav  ul li a.aktywna{
    background:rgba(188, 241, 158,0.5);
    transition: .5s;
} */


nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #56ab2f;
    font-family: "Poppins", sans-serif;
    z-index: 999;
}

.logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 55%;
}

    .nav-links li {
        list-style: none;
    }

    .nav-links a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }

.burger {
    display: none;
}

    .burger div {
        width: 25px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        margin: 5px;
        transition: all 0.3s ease;
    }

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #56ab2f;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

        .nav-links li {
            opacity: 0;
        }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}





.naglowek {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: #404040;
    margin: 15px;
}

.filtry {
    width: 85%;
    margin: auto;
}

    .filtry hr {
        margin-top: 15px;
        margin-bottom: 15px;
    }

.in_cena {
    width: 20%;
    font-size: 16px;
    text-align: center;
}

.cena_center {
    width: 50%;
    margin-left: 25%;
}

.filtry h2 {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    color: #404040;
    margin: 15px;
}

#prawy {
    margin-left: 420px;
}

.wybor {
    overflow: hidden;
    width: 250px;
    height: 170px;
    overflow-y: scroll !important;
}

@media (max-width: 1400px) {
    #prawy {
        margin-left: 370px;
    }
}

@media (max-width: 1200px) {
    .wybor {
        width: 200px;
        height: 170px;
    }

    #prawy {
        margin-left: 340px;
    }
}

@media (max-width: 992px) {
    .wybor {
        width: 200px;
        height: 170px;
    }

    #prawy {
        margin-left: 315px;
    }
}

@media (max-width: 766px) {
    .wybor {
        width: 370px;
        height: 160px;
    }

    #prawy {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .wybor {
        width: 350px;
        height: 150px;
    }
}

@media(min-width:768px) {
    #lewy {
        position: fixed;
    }
}




.checkmarks {
    padding: 5px;
    -webkit-appearance: none; /*Dodałem webkit*/
    background-color: #fafafa;
    border: 1px solid #56ab2f;
    box-shadow: 0 1px 2px rgba(0,255,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

    .checkmarks:active, .checkmarks:checked:active {
        box-shadow: 0 1px 2px rgba(0,255,0,0.05), inset 0px 1px 3px rgba(0,255,0,0.1);
    }

    .checkmarks:checked {
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,2550,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

        .checkmarks:checked:after {
            content: '\2714';
            font-size: 12px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #56ab2f;
        }

input[type=checkbox],
iput[type=radio] {
    padding: 8px;
}

input {
    font-family: none;
}

.lbl {
    font-family: monospace;
    font-size: 16px;
    padding: 5px;
    color: #404040;
}

.korepetytor {
    background-color: rgba(255,255,255,0.95);
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
    border-radius: 3px;
}

.kor_prof {
    width: 20%;
    float: left;
}

    .kor_prof img {
        width: 100%;
    }

.kor_opis {
    position: relative;
    width: 75%;
    float: right;
    padding: 10px;
}

.kor_opis_materialy {
    position: relative;
    width: 90%;
    float: right;
    padding: 10px;
}

.kor_imie {
    font-family: monospace;
    font-size: 20px;
    color: #404040;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.kor_ocena {
    font-family: monospace;
    font-size: 20px;
    color: #56ab2f;
    padding: 10px;
    position: relative;
    font-weight: bold;
    display: inline;
}

.Kor_o_sobie {
    font-size: 14px;
    font-family: monospace;
    font-style: italic;
    text-align: justify;
}

.kor_opis hr {
    margin-bottom: 10px;
    width: 50%;
    left: 0px;
}

.kor_kontakt {
    vertical-align: middle;
    min-height: 25px;
    padding-top: 10px;
    margin-bottom: 5px;
    font-family: monospace;
    font-size: 14px;
}

    .kor_kontakt .icon {
        background-image: url(images/mail.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

.specjalnosc {
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 5px;
    font-family: monospace;
    font-size: 14px;
}

#prawy .specjalnosc {
    min-height: 30px;
}

.icon {
    width: 30px;
    height: 30px;
    background-image: url(images/spec2.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.spec_content {
    display: inline-block;
    width: 85%;
    text-align: justify;
    padding-left: 10px;
    min-height: 30px;
}

.cena {
    min-height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
    background-image: url(images/money.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
    font-family: monospace;
    font-size: 14px;
}

.kor_opinie_btn {
    font-weight: 800; /*zmienione na 800 z 790*/
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 10px;
    float: right;
    background: linear-gradient(to right, #56ab2f, #a8e063 );
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: .3s;
}

    .kor_opinie_btn:hover {
        padding: 10px 35px;
    }

.filtry .przycisk_zaloguj:hover {
    width: 84%;
    font-weight: 300;
}

#opinie {
    visibility: hidden;
    transition-duration: .3s;
    opacity: 0;
    font-family: sans-serif;
    width: 50vw;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 20px 9px black;
}

@media (max-width:768px) {
    #opinie {
        width: 80vw;
        top: 15%;
        left: 10vw;
        right: 10vw;
    }
}

#op_all {
    overflow-y: scroll;
    height: 55vh;
}

#op_header {
    padding: 20px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #56ab2f, #a8e063 );
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: #404040;
}

#op_close {
    font-size: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0px;
    display: inline;
    padding: 10px;
}

#op_title {
    width: 100%;
    position: relative;
    display: inline-block;
}


.op_opinia {
    background-color: rgba(255,255,255,0.5);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-top: 0px;
    text-align: justify;
    border-bottom: 1px solid gray;
    position: relative;
    display: inline-block;
    font-style: italic;
}

.op_podpis {
    font-style: italic;
    position: relative;
    padding-top: 10px;
    float: right;
    display: block;
}

#opinie_innych .kor_ocena {
    width: 100%;
    padding: 0;
    margin: 10px;
    margin-left: 0;
    font-size: 25px;
    display: inline-block;
}

#op_content .korepetytor {
    width: 90%;
    background-color: rgba(0,0,0,0.1);
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
}

#op_content {
    background-color: rgba(0,0,0,0.1);
}

    #op_content h1 {
        font-family: monospace;
        color: #404040;
        margin: 15px;
    }

.op_dodaj {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

form {
    padding-bottom: 1rem;
}

.ocena form {
    font-size: 16px;
}

.ocena label {
    font-size: 40px;
}

#opinia input, textarea {
    font-size: 16px;
}

#opinia button {
    float: left;
    margin-left: 0;
}

.opisy {
    font-family: monospace;
    color: #404040;
    font-size: 16px;
    font-weight: bold;
}

#opinie_innych {
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}



.ocena input[type="radio"]:not(:nth-of-type(0)) {
    /* hide visually */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ocena [type="radio"]:not(:nth-of-type(0)) + label {
    display: none;
}

label[for]:hover {
    cursor: pointer;
}

.ocena .stars label:before {
    content: "★";
}

.stars label {
    color: #99a1a7;
}

    .stars label:hover {
        text-shadow: 0 0 1px #000;
    }

.ocena [type="radio"]:nth-of-type(1):checked ~ .stars label:nth-of-type(-n+1),
.ocena [type="radio"]:nth-of-type(2):checked ~ .stars label:nth-of-type(-n+2),
.ocena [type="radio"]:nth-of-type(3):checked ~ .stars label:nth-of-type(-n+3),
.ocena [type="radio"]:nth-of-type(4):checked ~ .stars label:nth-of-type(-n+4),
.ocena [type="radio"]:nth-of-type(5):checked ~ .stars label:nth-of-type(-n+5) {
    color: #56ab2f;
}

.ocena [type="radio"]:nth-of-type(1):focus ~ .stars label:nth-of-type(1),
.ocena [type="radio"]:nth-of-type(2):focus ~ .stars label:nth-of-type(2),
.ocena [type="radio"]:nth-of-type(3):focus ~ .stars label:nth-of-type(3),
.ocena [type="radio"]:nth-of-type(4):focus ~ .stars label:nth-of-type(4),
.ocena [type="radio"]:nth-of-type(5):focus ~ .stars label:nth-of-type(5) {
    color: #56ab2f;
}

#main-footer {
    background-color: #56ab2f;
    max-height: 6vh;
}
